.side {
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  background: #f8f8f8;
  width: 250px;
  // overflow-y: scroll;
  // reset bootstrap style
  .section {
    margin: 10px;
    fieldset {
      border: solid 1px #999;
      margin: 5px;
      padding: 5px 10px 5px 10px;
      legend {
        font-size: 14px;
        font-weight: 700;
        color: #999;
        margin: 0 5px;
        padding: 0 5px;
        display: block;
        width: auto;
        border: none;
      }
    }
    .cbs {
      .checkbox-inline,
      .radio-inline {
        margin-left: 0px;
        margin-right: 20px;
        margin-bottom: 5px;
      }
    }
  }
  .search-btn {
    padding: 5px;
    text-align: right;
    .btn {
      width: 100%;
    }
  }
}

.side-setting {
  padding-top: 20px;
  ul {
    padding-left: 0;
  }
  li {
    border-bottom: solid 1px #eee;
    a {
      display: block;
      padding: 15px 25px;
      font-size: 16px;
      color: #999;
      text-decoration: none;
      &:hover {
        color: #666;
      }
      &.active {
        background-color: #fff;
        color: #666;
      }
      i {
        display: inline-block;
        width: 22px;
      }
    }
  }
}